insert into Instance_Info (
        InstanceId,
        InstanceKey,
        InstanceRole,
        InstanceType,
        InstanceAZ,
        InstancePrivDNS,
        InstancePrivIP,
        InstancePubDNS,
        InstancePubIP,
        InstanceSGlist,
        InstanceSubNet,
        InstanceVPC,
        InstanceRootDevName,
        InstanceRootDevType,
        InstanceBlockDevs,
        InstanceAMI,
        InstanceUserData
    )
        values (
        'i-2df318ca',
        'thjones-4096b',
        'EBSsnap',
        't2.micro',
        'us-west-1a',
        'sniffles.west1.amazonaws.internal',
        '192.168.22.21',
        'sniffles.test.net',
        '182.23.44.21',
        'sg-e157cb23',
        's-77dc493a',
        'v-2632c4ba',
        '/dev/sda1',
        'ebs',
        '/dev/sda1',
        'a-88e347f1',
        'None'
    );
