

# AWS account information so that Mothball can access the api for backing up.  This is the target Account.
AWS:

  region: us-east-1

  access_key: XXXXXXXXXXXXXXXXXXXX

  secret_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Configurations for the Database to use.
Database:
  # Supported Database types are MySQL and PostgreSQL
  type: mysql

  name: AWSBackup

  username: mothball

  password: mothballP4ssw0rd

  # Host/Port only need to be defined if you are not using RDS and would rather back up to on an on prem or nonRDS db
  host:
  port: 3389

# For use with RDS (either existing or to create one).  This is the control RDS for where the configuration data should
# be stored.
RDS:
  use_rds: False

  name:

  region: us-east-1

  access_key: XXXXXXXXXXXXXXXXXXXX

  secret_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

  # Comma seperated for more than one security group.
  vpc_security_groups:
      -
      -
